<h2><%= name %></h2>
<form action="/myDrinks/addMyDrink" method="POST">
    <input hidden type="text" name="drinkName" value="<%= name %>">
    <input hidden type="text" name="drinkId" value="<%= id %>">
    <button type="submit">love it!</button>
</form>
<ul>
    <li>
        <% if(ingOne != null) { %> 
            <%= measureOne %>
            <%= ingOne %>
        <% } %>
    </li>
    <li>
        <% if(ingTwo != null) { %> 
            <%= measureTwo %>
            <%= ingTwo %>
        <% } %>
    </li>
    <li>
        <% if(ingThree != null) { %> 
            <%= measureThree %>
            <%= ingThree %>
        <% } %>
    </li>
    <li>
        <% if(ingFour != null) { %> 
            <%= measureFour %>
            <%= ingFour %>
        <% } %>
    </li>
    <li>
        <% if(ingFive != null) { %> 
            <%= measureFive %>
            <%= ingFive %>
        <% } %>
    </li>
    <li>
        <% if(ingSix != null) { %> 
            <%= measureSix %>
            <%= ingSix %>
        <% } %>
    </li>
    <li>
        <% if(ingSeven != null) { %> 
            <%= measureSeven %>
            <%= ingSeven %>
        <% } %>
    </li>
    <li>
        <% if(ingEight != null) { %> 
            <%= measureEight %>
            <%= ingEight %>
        <% } %>
    </li>
    <li>
        <% if(ingNine != null) { %> 
            <%= measureNine %>
            <%= ingNine %>
        <% } %>
    </li>
    <li>
        <% if(ingTen != null) { %> 
            <%= measureTen %>
            <%= ingTen %>
        <% } %>
    </li>
    <li>
        <% if(ingEleven != null) { %> 
            <%= measureEleven %>
            <%= ingEleven %>
        <% } %>
    </li>
    <li>
        <% if(ingTwelve != null) { %> 
            <%= measureTwelve %>
            <%= ingTwelve %>
        <% } %>
    </li>
    <li>
        <% if(ingThirteen != null) { %> 
            <%= measureThirteen %>
            <%= ingThirteen %>
        <% } %>
    </li>
    <li>
        <% if(ingFourteen != null) { %> 
            <%= measureFourteen %>
            <%= ingFourteen %>
        <% } %>
    </li>
    <li>
        <% if(ingFifteen != null) { %> 
            <%= measureFifteen %>
            <%= ingFifteen %>
        <% } %>
    </li>
</ul>
<h4> <%= instructions %> </h4>    